.error-container img{
    height: 400px;
    width: 400px;
    
    
}
.error-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 100px; */
    background:fff;
    margin-top: 70px;
}
.msg-one{
    font-size: 50px;
    font-weight: bolder;
    /* color: #0A57A1; */
    color:#1C2F36  ;
}
.msg-two{
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 15px ;
    color:#1C2F36  ;
}
@media screen and (max-width: 900px){
    .error-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        /* margin-top: 100px; */
        background:fff;
        margin-top: 70px;
    }
}