.quiz-card img{
    height: 300px;
    width: 300px;
    object-fit: cover;

}
.quiz-card {
  box-shadow: 10px 10px 10px white;
   width: 300px;
}
.card-info{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.start-btn{
   padding: 5px 20px; 
}