.banner{
    display: grid;
    grid-template-columns: 1fr 4fr;
    

    
}
.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* padding-left: 30px; */
}
.title{
font-size: 5vw;
color: #6A677A;
text-align: left;
}
.banner-text{
   
    font-size: 30px;
    line-height: 45px;
    text-align: left;
    color: #6A677A;

}
@media screen and (max-width: 900px) {
  .banner{
    display: flex;
    flex-direction: column;
    row-gap: 0px;

  }
  .banner-text{
   
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #6A677A;

}
}
