.detail{
    /* border: 2px solid red; */
    background-color: #ffeddf;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
}
.option{
    height: 90px;
    padding-left: 25px;
    padding-right: 25px;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #6a677a;
}
.option:hover{
    background-color: #6a677abb;
}
.quiz-options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}
@media screen and (max-width: 900px) {
    .quiz-options{
        display: flex;
        flex-direction: column;
        
    }
    .question-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}