.detail{
    /* border: 2px solid red; */
    background-color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
}
.option{
    height: 90px;
    padding-left: 25px;
    padding-right: 25px;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}
.quiz-options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}